.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  position: fixed !important;
  top: 50% !important;
  left: 40% !important;
}

button {
  height: 70px;
  min-width: 380px;
  padding:8px;
  font-size: 18px;
  border-radius: 10px;
}
